<div class="row mb-5 mr-1">
    <h1>Сообщения</h1>
</div>

<% @messages.each do |message| %>
    <div class="col-4 mb-5 border border-2">
        <div class="row m-3">
            <div class="col-6">
                <%= render message %>
            </div>
            <div class="col-6 text-center">
                <%= link_to "Изменить", edit_message_path(message) %>
                <%= button_to "Удалить сообщение", message, method: :delete, class: 'btn btn-primary mt-2' %>
            </div>
        </div>
    </div>
<% end %>

<div class="col-4">
    <div class="row m-3">
        <div class="col-6">
            <%= link_to "Добавить сообщение", new_message_path, class: 'btn btn-primary' %>
        </div>
        <div class="col-6">
            <%= link_to "Назад", profile_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>
