<div class="row text-center">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 class="h3 mb-3 font-weight-normal">Добро пожаловать!</h1>
        <h1 class="h3 mb-3 font-weight-normal">Войдите, чтобы продолжить</h1>
        <% flash.each do |_, msg| %>
            <h3 class="text-center" style="color: red"><%= msg %></h3>
        <% end %>
        <%= form_with url: session_create_path, method: :post, local: true, class: 'form-signin' do |form| %>
            <div class="mb-3">
                <%= form.label :login, 'Логин: ' , class: 'form-label' %>
                <%= form.text_field :login, require: true, class: 'form-control' %>
            </div>
            <div class="mb-3">
                <%= form.label :num, 'Пароль: ', class: 'form-label' %>
                <%= form.password_field :password, require: true, class: 'form-control'%>
            </div>
            <%= form.submit value: 'Войти', require: true, class: 'btn btn-primary col-md-12' %>
        <% end %>
    </div>
    <div class="col-4"></div>
</div>
<br>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <p class="text-center">Еще нет аккаунта?</p>
        <%= link_to 'Регистрация', users_new_path, class: 'btn btn-primary col-md-12' %>
    </div>
    <div class="col-4"></div>
</div>
