<div class="row m-1">
    <h2>Регистрация</h2>
</div>

<div class="row m-3">
    <div class="col-4">
        <%= form_with(model: @user, url: users_create_path) do |form| %>
            <% if @user.errors.any? %>
                <div style="color: red">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                      <% @user.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="mb-3">
                <%= form.label :login, 'Логин: ', class: 'form-label' %>
                <%= form.text_field :login, class: 'form-control' %>
            </div>

            <div class="mb-3">
                <%= form.label :password, 'Пароль: ', class: 'form-label' %>
                <%= form.password_field :password, class: 'form-control' %>
            </div>

            <div class="mb-3">
                <%= form.label :password_confirmation, 'Повторите пароль: ', class: 'form-label' %>
                <%= form.password_field :password_confirmation, class: 'form-control' %>
            </div>

            <div class="mb-3">
                <%= form.label :name, 'Имя: ', class: 'form-label' %>
                <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="mb-3">
                <%= form.label :surname, 'Фамилия: ', class: 'form-label' %>
                <%= form.text_field :surname, class: 'form-control' %>
            </div>

            <div class="mb-5">
                <%= form.label :second_name, 'Отчество: ', class: 'form-label' %>
                <%= form.text_field :second_name, class: 'form-control' %>
            </div>

            <div class="mb-5">
                <p class="fst-italic fw-light">При регистрации как студент укажите комнату</p>
            </div>

            <div class="mb-3">
                <%= form.radio_button :user_type, 'student', class: 'form-check-input' %>
                <%= form.label :side, 'Зарегистрироваться как студент', class: 'form-label' %>
            </div>

            <div class="mb-5">
                <%= form.label :room, 'Комната: ', class: 'form-label' %>
                <%= form.text_field :room, class: 'form-control' %>
            </div>
            
            <div class="mb-5">
                <p class="fst-italic fw-light">При регистрации как работник укажите должность</p>
            </div>

            <div class="mb-3">
                <%= form.radio_button :user_type, 'staff', class: 'form-check-input' %>
                <%= form.label :side, 'Зарегистрироваться как сотрудник', class: 'form-label' %>
            </div>

            <div class="mb-3">
                <%= form.label :rank, 'Должность: ', class: 'form-label' %>
                <%= form.text_field :rank, class: 'form-control' %>
            </div>

            <div>
                <%= form.submit value: 'Зарегистрироваться', class: 'btn btn-primary col-md-12' %>
            </div>
        <% end %>
        <div class="mt-5">
            <%= link_to 'Назад', session_login_path, class: 'btn btn-primary col-md-6'%>
        </div>
    </div>
    <div class="col-7"></div>
</div>