<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">МоeОбщежитие</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Главная', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Новости', posts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forms">Опросы</a>
          </li>
        </ul>
        <%= link_to 'Личный кабинет', '/users/' + @_current_user.login, class: 'btn btn-primary' %>        
      </div>
    </div>
  </nav>
</header>

<div>
  <h2>Личные данные</h2>
  <p>Фамилия: <%= @_current_user.surname %></p>
  <p>Имя: <%= @_current_user.name %></p>
  <p>Отчество: <%= @_current_user.second_name %></p>
  <%= link_to 'Выйти', session_logout_path %>
</div>

<% if @_user_access == ApplicationController::STAFF %>
  <h3>Заявки</h3>
  <div id="requests">
  <% Request.all.each do |request| %>
    <% if request.staff_id == @_current_user_role.id %>
      <%= render request %>
      <p>
        <%= link_to "Открыть", request %>
      </p>
    <% end %>
  <% end %>
</div>
<% end %>

<% if @_user_access >= ApplicationController::STUDENT %>
  <%= link_to "Отправить заявку", new_request_path %>
  <div id="requests">
  <% Request.all.each do |request| %>
    <% if request.student_id == Student.find_by_user_id(@_current_user.id).id%>
      <p><%= render request %></p>
    <% end %>
  <% end %>
<% end %>
