<div id="<%= dom_id request %>">
    <div class="row">
        <div class="col-6">
            <p>Этаж:  <%= request.floor%></p>
            <p>Место: <%= request.location %></p>
            <p>Проблема: <%= request.problem %></p>
        </div>
        <div class="col-6">
            <div class="text-center mt-3">
                <p><%= request.status %></p>
                <%= link_to 'Редактировать', edit_request_path(request) %>
            </div>
        </div>
    </div>
</div>
