<nav>
  <a href="/">Главная</a>
  <ul >
    <li>
      <a href="/posts">Новости</a>
    </li>
    <li>
      <a href="/forms">Опросы</a>
    </li>
  </ul>
  <%= link_to 'Личный кабинет', '/users/' + @_current_user.login %>
</nav>
<p style="color: green"><%= notice %></p>

<h1>Requests</h1>

<div id="requests">
  <% @requests.each do |request| %>
    <%= render request %>
    <p>
      <%= link_to "Открыть", request %>
    </p>
  <% end %>
</div>

<%= link_to "New request", new_request_path %>
