<p style="color: green"><%= notice %></p>

<%= render @request %>

<div>
  <%= link_to "Редактировать заявку", edit_request_path(@request) %> |
  <%= link_to "Вернуться в личный кабинет", '/users/' + @_current_user.login %>

  <%= button_to "Удалить заявку", @request, method: :delete %>
</div>
