<div class="row m-3">
    <div class="col-4">
        <%= form_with(model: post) do |form| %>
            <% if post.errors.any? %>
                <div style="color: red">
                    <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                        <% post.errors.each do |error| %>
                            <li><%= error.full_message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="mb-3">
                <%= form.label :title, 'Заголовок', class: 'from-label' %>
                <%= form.text_field :title, require: true, class: 'form-control' %>
            </div>

            <div class="mb-3">
                <%= form.label :text, 'Текст', class: 'form-label' %>
                <%= form.text_area :text, require: true, class: 'form-control', style: 'height: 300px' %>
            </div>

            <div>
                <%= form.submit value: 'Добавить новость', class: 'btn btn-primary col-md-6' %>
            </div>
        <% end %>
    </div>
</div>
