<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">МоeОбщежитие</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to 'Главная', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Новости', posts_path, class: 'nav-link active' %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/forms">Опросы</a>
          </li>
        </ul>
        <%= link_to 'Личный кабинет', '/users/' + @_current_user.login, class: 'btn btn-primary' %>        
      </div>
    </div>
  </nav>
</header>
<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% if @_user_access == ApplicationController::COUNCIL_MEMBER %>
  <%= link_to "Добавить новость", new_post_path %>
<% end %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p>
      <%= link_to "Открыть новость", post %>
    </p>
  <% end %>
</div>
