<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Редактировать новость", edit_post_path(@post) %> |
  <%= link_to "Назад к новостям", posts_path %>

  <%= button_to "Удалить новость", @post, method: :delete %>
</div>
